/* GENERAL */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#c3c3c3;
	font-family:Tahoma;
	font-size:11px;
	color:#666666;
}

h2{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999; margin:10px 0px; padding:0px}

A:link {
	COLOR: #666; TEXT-DECORATION: none
}
A:active {
	COLOR: #666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
A:hover {
	COLOR:#003366; TEXT-DECORATION: underline
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

form{padding:0px}

#contenedor {
	BORDER: #ababab 1px solid; BACKGROUND: #ffffff; MARGIN: 20px auto 0px auto; PADDING:10px; TEXT-ALIGN: left; width:930px
}
#contenedor2 {
	BORDER: #ababab 1px solid; BACKGROUND: #ffffff; MARGIN: 20px auto 0px auto; PADDING:10px; TEXT-ALIGN: left; width:auto;
}

#footer {
	BORDER: #ababab 1px solid; BACKGROUND: #ffffff; MARGIN: 10px auto 0px auto; PADDING:10px; WIDTH: 930px; TEXT-ALIGN: left; height:14px
}

#fuxion {
	MARGIN: 5px auto 0px auto; WIDTH: 952px; TEXT-ALIGN: right; padding-bottom:15px
}

#header {
	height: 112px; background: #105b38; background-image:url(../img/hdstarbucks.gif); background-repeat:no-repeat; MARGIN: 0px auto 0px auto;
}

#cmenu {
	float:left; width: 192px; margin-top:10px
}

#ccentro {
	float:left; width: 930px; margin-top:10px; display:inline
}

/* MENU BACKEND */

#style-bckend, #style-bckend2{
	position:relative;
	display:block;
	height:39px;
	font-size:11px;
	font-weight:bold;
	background:transparent url(../img/bgOFF.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	border-top:4px solid #006699;
	}

#style-bckend ul, #style-bckend2 ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#style-bckend ul li, #style-bckend2 ul li{
	display:block;
	float:left;
	margin:0;
	}

#style-bckend ul li a, #style-bckend2 ul li a{
	display:block;
	float:left;
	color:#666;
	text-decoration:none;
	padding:11px 20px 0 20px;
	height:23px;
	background:transparent url(../img/bgDIVIDER.gif) no-repeat top right;
	}

#style-bckend ul li a.current, #style-bckend2 ul li a.current{
	color:#00CC99;
	background:#fff url(../img/bgON.gif) no-repeat top right;
	}
	
#style-bckend ul li a:hover, #style-bckend2 ul li a:hover{
	color:#EEE;
	background:#fff url(../img/bgON.gif) no-repeat top right;
	}

/* FIN MENU */

/* BUSCADOR */

#caja-buscador {
	float:left; width: 716px; border:1px solid #c3c3c3; background-color:#fff; padding:10px 5px; margin-bottom:10px;
}

.txtfield {
	font-size:11px; background-color:#f6f5f5; color:#666; border:1px solid #c3c3c3
}

/* CENTRO HOME: CUMPLEAÑOS */

#caja-centro {
	float:left; width: 234px; border:1px solid #c3c3c3; background-color:#f6f5f5;
}

#caja-centro-pop {
	float:left; width: 468px; border:1px solid #c3c3c3; background-color:#fff; margin-left:10px; margin-top:10px;
}

.row-cumple {
	float:left; width: 224px; height:69px; display:inline; border-bottom:1px dotted #c3c3c3; padding: 5px; margin-bottom:3px;
}

.row-cumple-img {
	float:left; width:63px; margin-right:5px; border:1px solid #666;
}

.row-cumple-txt {
	float:right; width:154px; position:relative; height:68px;
}
.nom,.nom a:link,.nom a:visited {
	font-size:12px; color:#CC0000; font-weight:bold
}
.fecha {
	font-size:11px; color:#000
}

/* CENTRO HOME: LATAM */

.row-latam {
	width: 800px; border-bottom:1px dotted #c3c3c3; padding: 5px; margin-bottom:3px;
}
.row-latam2 {
	float:left; width: 600px; border-bottom:1px dotted #c3c3c3; padding: 5px; margin-bottom:3px;
}
.row-latam-full {
	float:left; width: 650px; display:inline; border-bottom:1px dotted #c3c3c3; padding: 5px; margin-bottom:3px;
}

.comint_tit, .comint_tit a:link {
	font-size:10px; color:#03558f; font-weight:bold
}

.tit, .tit a:link {
	font-size:12px; color:#03558f; font-weight:bold; text-align:justify;
}

/* CENTRO HOME: COM INT */

#comint-sca {
	float:left; width: 224px; height: 150px; border-bottom:1px solid #c3c3c3; padding: 10px 5px; background:url(../img/bgcomint-sca.gif) no-repeat
}

#comint-burger {
	float:left; width: 224px; height: 150px; display:inline; border-bottom:1px solid #c3c3c3; padding: 10px 5px; background:#f6f5f5 url(../img/bgcomint-burger.gif) no-repeat
}

#comint-starbucks {
	float:left; width: 224px; height: 150px; display:inline; border-bottom:1px solid #c3c3c3; padding: 10px 5px; background:#f6f5f5 url(../img/bgcomint-starbucks.gif) no-repeat
}

.row-comint {
	float: left; font-size:11px; color:#666; width:224px; margin-bottom:10px
}

/* RESULTADOS BUSQUEDA */

.tit-result {
	float:left; width: 716px; border:1px solid #c3c3c3; background-color:#fff; padding:10px 5px; margin-bottom:10px;
}

.caja-result {
	float:left; width: 352px; border:1px solid #c3c3c3; background-color:#fff; margin-right:10px; margin-bottom:10px
}
.row-result {
	float:left; width: 342px; display:inline; padding: 5px;
}

.row-result-img {
	float:left; width:63px; margin-right:5px; border:1px solid #666
}

.row-result-arch {
	float:left; width:50px; margin-right:5px;
}

.row-result-txt {
	float:right; width:270px;
}
.nom {
	font-size:12px; color:#CC0000; font-weight:bold
}
.cargo {
	font-size:11px; color:#000
}

/* PAGINADOR */

.paginador {
	color:#666; 
	border:0px;
	float:left;
	width:100%;
	padding:10px 0px;
}
.paginador a:link,
.paginador a:visited,
.paginador a:hover,
.paginador a:active {
	text-decoration:none;
	color: #636363;
	background:#F9F9F9;
	border:1px solid #E6E6E6;
	padding:3px 6px;
	font-size:11px
}
.paginador a:hover {
	background:#333;
	color:#FFFFFF;
	border-color:#E6E6E6;
}
.paginador span {
	text-decoration:none;
	background:#fff;
	padding:3px 6px;
	border:1px solid #E6E6E6;
	color:#ccc;
	font-size:11px;
}

/* NOTA */

.cuerpo_nota{
	float: left;
	width: 444px;
	padding-top:15px;
	margin-bottom:15px;
}
.cuerpo_nota p{
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left; clear:both;
}
.cuerpo_nota p a:link, .cuerpo_nota p a:visited, .cuerpo_nota p a:hover {text-decoration:underline}
.bloqueTitulosNoticia {
	float:left; PADDING-RIGHT: 0%; PADDING-LEFT: 0%; PADDING-BOTTOM: 0%; PADDING-TOP: 0%; TEXT-ALIGN: left; width:100%; background-color:#fff;
}
.bloqueTitulosNoticia h3{
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #9a0000; FONT-FAMILY: Tahoma; TEXT-ALIGN: left; MARGIN:0px; TEXT-TRANSFORM:uppercase
}
.bloqueTitulosNoticia h1{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 34px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 5px; COLOR: #000000; LINE-HEIGHT: 36px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; TEXT-ALIGN: left
}
.bloqueTitulosNoticia h2{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; COLOR: #504e53; LINE-HEIGHT: 18px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.bloqueTitulosNoticia h2 a:link, .bloqueTitulosNoticia h2 a:visited, .bloqueTitulosNoticia h2 a:hover {text-decoration:underline}
.bloqueTitulosNoticia img{
	MARGIN-RIGHT: 10px; border:1px solid #CCCCCC
}
#boxautor{
	float: left; width: 100%; border-bottom:1px solid #ccc; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#858585; padding-bottom:3px; text-align:left; margin-bottom:10px;
}
#autor {
	float: left; font-family:Tahoma; font-size:12px; color:#858585; margin:0px;
}
#hora {
	float: left; font-family:Tahoma; font-size:12px; color:#f00000; margin-right:5px;
}
#fecha {
	float: right; font-family:Tahoma; font-size:12px; color:#858585; margin-left:5px;
}
.cfotonota {
	float:left;	width:456px; margin-bottom:15px; padding:5px; border:1px solid #999999;
}
#fotovideo {
	float:left;	width:290px; 
}
#fotovideo img{
	border:1px solid #e6e6e6;
}
#epigrafe {
	float:right; width:146px; padding:5px;
}
#epigrafe p {
	font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;
}


/* HERRAMIENTAS */
div.herramientas {
	float:left; width:726px; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#333; background-color:#f8f8f8; border:1px solid #ccc; margin-bottom:5px;
}
div.titulo-herramienta {
	float:left;	width:110px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#999; padding-left:5px; padding-top:1px; text-transform:uppercase
}
div.herr {
	float:left;	width:115px; height:16px; text-transform:uppercase;
}
div.icono-herramienta {
	float:left;	width:20px;	height:16px; margin-right:3px
}
div.texto-herramienta {
	float:left;	width:92px; height:14px; padding-top:2px;
}

.titulommv {font-size:18px; color:#FFFFFF; font-weight:bold;}

#caja-docs {float:left;	border:1px solid #c3c3c3; background-color:#f6f5f5;	display:inline;	padding-right: 2px; padding-left: 2px; margin-right: 10px;}


/* TABLAS */
#selectores
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
}
#selectores th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
}
#selectores td
{
	padding: 8px;
	background: #e8edff; 
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}


#resultados
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 45px;
	width: auto;
	text-align: left;
	border-collapse: collapse;
}
#resultados th, #resultados th a:link, #resultados th a:active, #resultados th a:hover, #resultados th a:visited
{
	font-size: 11px;
	font-weight: normal;
	color: #FFF;
	background-color: #3f5763;
}
#resultados th{
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 12px 15px;
}
#resultados th a:hover
{
	font-weight: bold;
	text-decoration:none;
}
#resultados .td1, #resultados .td2, #resultados .td3, #resultados .td4
{
	padding: 8px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	background-color: #a8c1c8;
}
#resultados .td2{
	background-color: #c5e1e2;
}
#resultados .td3{
	background-color: #9bb3ba;
}
#resultados .td4{
	background-color: #b7d4d5;
}
#resultados .td1:hover, #resultados .td2:hover, #resultados .td3:hover, #resultados .td4:hover
{
	background-color: #dfede7;
}
input, textarea, select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
}
thead, thead a:link, thead a:hover, thead a:visited, thead a:active{
	color:#FFF;
	background-color:#366;
	font-weight:bold;
}
thead a:hover{
	color:#060;
	background-color:#CCC;
	font-weight:bold;
}
.error{color:#FF0000;}
.impar{background-color:#e8e8e8;}
.td-hd {border:1px solid #e6e6e6; background-color:#f8f8f8; color:#666; font-size:11px; font-family:"Tahoma"; font-weight:bold; text-align:center;}
.td-comun {border:1px solid #e6e6e6; color:#666; font-size:11px; font-family:"Tahoma"; text-align:center;}

.boton{padding:5px; margin:5px; background-color:#CCC; color:#333}

.tabla