li{list-style-type:square; margin-left:50px}
.col_ppal a{ text-decoration:underline; color:#006699; font-weight:bold}
.textos a{text-decoration:underline; font-weight:bold; font-size:13px}
.bot_emp{background:no-repeat url(../docs/bot1.png); width:161px; height:19px; padding:28px 0; text-align:center}
.bot_emp a{color:#FFFFFF; font-weight:bold; font-size:14px; text-decoration:none}

/*Listados Postulaciones*/
.tablist{
	background-color:#FCF9E2;
}
.tablist th{
	font-weight:bold;
	background-color:#173D57;
	color:#EEE;
}
.tablist .par{
	background-color:#EAF0FB;
}
.tablist tr{
	height:30px;
}
.puesto, .area, .uen, .vence, .estado, .postu, .puesto2, .area2, .uen2, .vence2, .estado2, .postu2, .puesto3, .area3, .uen3, .vence3, .estado3, .postu3{
	margin:0px 1px 0px 3px; float:left;
	background-color:#d3d4d8;
	height:25px;
	margin-bottom:10px;
	padding-top:10px;
	padding-left:5px;
	font-weight:bold;
	color:#000000;
}
.puesto2, .area2, .uen2, .vence2, .estado2, .postu2{
	background-color:#c1c2c6;
}
.puesto3, .area3, .uen3, .vence3, .estado3, .postu3{
	background-color:#f57b16;
	color:#EEE;
	font-weight:bold;
	font-size:14px;
}
.puesto, .puesto2, .puesto3{
	width:160px;
}
.area, .area2, .area3{
	width:150px;
}
.uen, .uen2, .uen3{
	width:80px;
}
.vence, .vence2, .vence3{
	width:60px;
}
.estado, .estado2, .estado3{
	width:65px;
}
.postu, .postu2, .postu3{
	width:85px;
	font-size:10px;
}
.postular, .postular a{
	font-size: 11px; font-weight: normal; margin: 5px 0 0 5px;
}
input[type="text"], input[type="password"] {border:1px solid #ccc; padding:5px; color:#666; background:#fff; outline:none; webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width:250px}
textarea {border:1px solid #ccc; padding:5px; width:500px; color:#666; background:#fff; outline:none; webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-family:Arial, Helvetica, sans-serif; font-size:12px}
select {border:1px solid #ccc; padding:4px 5px 4px 5px; color:#666; background:#fff; outline:none; webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin:0; width:165px}
input[type="checkbox"]{border:0px; width:auto; margin-top:15px; padding:0; outline: 0; margin-left: 2px; vertical-align:baseline;}
label {font-size:12px; margin-right:20px;}
input.calendarDateInput{width:50px}
select.calendarDateInput{width:60px}
.boton_postu {
	background: #5B74A8;
	background: -moz-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5B74A8), color-stop(100%,#5B74A8));
	background: -webkit-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: -o-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: -ms-linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	background: linear-gradient(top,#5B74A8 0%,#5B74A8 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5B74A8',endColorstr='#5B74A8',GradientType=0);
	padding:2px 6px;
	color:#fff;
	font-family:'Helvetica',sans-serif;
	font-size:11px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border:1px solid #1A356E
}